<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.notix">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <service
            android:name="co.notix.push.firebase.NotixFirebaseMessagingService"
            android:exported="false">
            <intent-filter android:priority="999">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name="co.notix.push.permissions.NotificationsPermissionActivity"
            android:exported="false"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="co.notix.push.NotificationClickHandlerActivity"
            android:exported="false" />
        <activity
            android:name="co.notix.interstitial.InterstitialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/InterstitialTheme" />
    </application>

    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

</manifest>