<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.notix.notixsdk">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <!--service
            android:name="com.notix.notixsdk.NotixFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service-->
        <service
            android:name=".NotixSDK"
            android:exported="false" />

        <activity
            android:name=".NotificationClickHandlerActivity"
            android:exported="false" />

        <activity
            android:name=".interstitial.InterstitialActivity"
            android:exported="false"
            android:theme="@style/InterstitialTheme" />
    </application>

    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

</manifest>